/* ADMIN */
.admin-bar {
  margin-top: 16px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.admin-bar button {
  background: #334155;
  border: none;
  color: #e5e7eb;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 14px;
}

.hidden {
  display: none;
}

.admin-input {
  width: 100%;
  padding: 6px;
  margin: 4px 0;
  border-radius: 6px;
  border: none;
  background: #020617;
  color: #e5e7eb;
}
